recursive-include orangecontrib *.pyx
recursive-include orangecontrib *.py
recursive-include soleil *.pyx
recursive-include soleil *.py

recursive-include orangecontrib/srw/soleil/widgets *.png *.svg *.ico *.jpg *.bmp

include README.txt
